    <div class="breadcrumb-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h4>About Us</h4>
                    </div>
                </div>
            </div>
        </div><!--breadcrumbs-->

   <div class="divide80"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 margin20">
                    <h3 class="heading">A little about us</h3>
                    <p align="left">
                       Current calendar applications revolve around constant user input specifying the exact time an event should take place. The most popular calendar applications today, however, lack the capability to respond to new events. When a user needs to schedule an event which conflicts with currently existing events, he or she must manually resolve the conflict by shifting around events. We have created a “smart scheduling” application that allows dynamic events on the calendar to autonomously shift to an available time slot in order to reorganize a user’s schedule.  Our application will be able to help you manage you time more efficiently and ease the stress associated with scheduling.

                    </p>
                </div>
            </div><!--about intro-->